body {
    background-color: #FFFFFF;
    width: 1920px;
    margin: auto;
    font-family: 'Comfortaa';
}

div.header {
    height: 100px;
}

div.header a {
    text-transform: uppercase;
}

div.header ul.nav {
    float: right;
}

div.header nav {
    margin: 0;
}

div.carousel {
    height: 887px;
}

div.who-we-are {
    position: relative;
}

div.who-we-are > img#image-1 {
    position: absolute;
    left: 387px;
    top: 150px;
    z-index: 1;
}

div.who-we-are > img#image-2 {
    position: absolute;
    left: 583px;
    top: 409px;
    z-index: 2;
}

div.who-we-are > div.wrapper {
    position: absolute;
    left: 1037px;
    top: 216px;
    width: 460px;
}

div.who-we-are > div.wrapper > div.title {
    font-size: 40px;
    color: #3C4DA0;
    line-height: 44px;
    height: 56px;
}

div.who-we-are > div.wrapper > div.content {
    font-size: 16px;
    line-height: 26px;
    color: #112D56;
}

div.who-we-are > div.wrapper > div.btn {
    margin-top: 50px;
}

div.title {
    text-transform: uppercase;
}

div.btn {
    text-transform: uppercase;
    padding: 16px 60px;
    border: 2px solid;
    border-radius: 25px;
    background: linear-gradient(#3C4DA0, #48C6EF);
    color: #FFFFFF;
}

div.btn:hover {
    border-color: #3C4DA0;
    background: #FFFFFF;
}
